.bg{
    margin: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    height: 600px;
    }
    .bgt{
        font-size: 19px;
        color: #ffffff;
        background-color: #4a6c75
    }
    .f{
        color:#ffffff;
    }